<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <h1 class="text-center">Ajouter un produit</h1>

    <%= simple_form_for :product, url: products_path do |f| %>
        <%= f.input :name, placeholder: 'Kudoz' %>
        <%= f.input :url, placeholder: 'http://getkudoz.com' %>
        <%= f.button :submit, 'Ajouter', class: 'btn btn-primary' %>
        <% end %>
<!--     <form action="/products" method="post">

        <div class="form-group">
          <label for="name">Choisissez un nom de produit</label>
          <input type="text" name="product[name]" placeholder="Kudoz" class="form-control" id="name">
        </div>

        <div class="form-group">
          <label for="url">URL du site web</label>
          <input type="text" name="product[url]" placeholder="http://ku.doz/" class="form-control" id="url">
        </div>

        <input type="submit" value="Ajouter" class="btn btn-primary">

      </form> -->
    </div>
  </div>
</div>










